
body {
  background: #000;
  font-family: "Ubuntu Mono", monospace;
  height: 100%;
}

.npm-installation-progress {
  color: #fff;
  font-size: 17px;
  width:  100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height:50px;
  margin-top: 0;
  padding-top: 0;
}

.loader-container {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  overflow: visible;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 30px;
  margin-top: 0;
  padding-top: 0;
}

#loader-points {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #fff;
}

#loader {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0px;
  height: 20px;
  background: #fff;
  z-index: 0;
  -webkit-animation: width 50s steps(1, end) infinite;
          animation: width 50s steps(1, end) infinite;
}

@-webkit-keyframes width {
  0% {
    width: 0%;
  }
  5% {
    width: 15%;
  }
  9% {
    width: 20%;
  }
  10% {
    width: 23%;
  }
  15% {
    width: 27%;
  }
  19% {
    width: 30%;
  }
  25% {
    width: 35%;
  }
  31% {
    width: 40%;
  }
  32% {
    width: 45%;
  }
  36% {
    width: 49%;
  }
  39% {
    width: 57%;
  }
  45% {
    width: 62%;
  }
  50% {
    width: 69%;
  }
  54% {
    width: 73%;
  }
  60% {
    width: 78%;
  }
  63% {
    width: 81%;
  }
  90% {
    width: 88%;
  }
}

@keyframes width {
  0% {
    width: 0%;
  }
  5% {
    width: 15%;
  }
  9% {
    width: 20%;
  }
  10% {
    width: 23%;
  }
  15% {
    width: 27%;
  }
  19% {
    width: 30%;
  }
  25% {
    width: 35%;
  }
  31% {
    width: 40%;
  }
  32% {
    width: 45%;
  }
  36% {
    width: 49%;
  }
  39% {
    width: 57%;
  }
  45% {
    width: 62%;
  }
  50% {
    width: 69%;
  }
  54% {
    width: 73%;
  }
  60% {
    width: 78%;
  }
  63% {
    width: 81%;
  }
  90% {
    width: 88%;
  }
}

#spinner {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  padding-top: 0;
  width: 10px;
  display: inline-block;
}

#verb {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
}

#mapToRegistry {
  color: purple;
  margin-right: 10px;
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
}

#uri {
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
}

.npm-installation-progress > span:not(#spinner):not(#verb):not(#mapToRegistry):not(#uri) {
  margin-right: 10px;
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
}